
body {
    font-family: 'caveat', sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #ffb700;
    height: 100px;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7)), url(images/maunga_club_cabin.jpg);
}

.logo {
    padding: 5px 50px;
    width: 200px;
}

nav {
    color: rgb(17, 167, 122);
    float: right;
    padding: 40px 50px 0px 0px;
}

.hero-img {
    width: 800px;
}

h1{
    font-size: 40px;
}

.button {
    color: #003b63; 
    font-size: 19px;    
    margin: 30px 5px;
    padding: 15px 15px;
}

footer {
    background-color: #eda310;
    color: rgb(246, 244, 244);
    margin-top: 40px;
    padding: 30px 0px;
}
