body {
    color: #eb0f0f;
    font-family: 'Heebo', sans-serif;
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background: #000000;
    position: fixed; /* Used to create sticky menu */
    text-align: left;
    width: 100%;
    z-index: 999; /*Ensure header is always visible on top of all other elements */
}

.logo {
    padding: 10px 0px 10px 50px;
    width: 250px;
}

nav {
    color: white;
    float: right;
    padding: 30px 50px 0px 0px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

/*Used to style navigation menu items when mouse moved over item*/
nav li a:hover {
    background-color: #00431F;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
/* ADDED BY ME */
.n-thumb{
    width: 900px;
    height: auto;


    /* Background image for introduction section */
#homepage {
    background: black url(../img/maunga_club_cabin.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
    top: 0px;
}